/* https://zhih.me/website-darkmode-on-macos/ */

:root {
    --background-color: #FFF;
    --content-color: #15171A;
}

@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #222;
      --content-color: #dfdfdf;
    }
}

svg {
    background-color: var(--background-color);
}

#line {
    fill: none;
    stroke: #555;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

#image .bg {
    /* width: 200px; */
    height: 250px;
}

#detail .text {
    font-size: 12px;
    font-weight: lighter;
    fill: var(--content-color);
}

#contact g.item svg {
    /* 在这里写 transform, width, height 实际上无效 */
    display: contents;
}

#contact g.item .text {
    font-size: 12px;
    fill: var(--content-color);
    font-weight: lighter;
}

#quote .text {
    font-size: 10px;
    fill: var(--content-color);
    font-weight: lighter;
}

.code {
    font-family: monospace;
}
